// @import '~bootstrap/scss/functions';
// @import '../node_modules/bootstrap/scss/variables';

@import '~bootstrap/scss/bootstrap';

body {
  background-color: $teal-200;
}

.calendar {
  width: 25rem;

  .month-before {
    &:hover {
      color: $gray-900;
    }
    color: $gray-500;
  }

  .month-after {
    color: $gray-500;
    &:hover {
      color: $gray-900;
    }
  }

  td {
    &.active-cell {
      background-color: $cyan;
    }

    &.today-cell {
      background-color: $success;
    }

    &:hover {
      background-color: $cyan;
    }
  }
  .training-day {
    border: 2px rgb(52, 54, 94) solid;
  }
}
