@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: $gray-900;
  color: $gray-200;
}

#root {
  position: relative;
  min-height: 100vh;
}

.navbar {
  height: 10vh;
  margin-bottom: 3rem;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-nav .nav-link.active {
  color: $gray-200;

  &:hover {
    background-color: #00cccc;
    color: #000000;
  }
}

.logo {
  height: 50px;
  width: 100px;
  background-color: #00cccc;
  padding: 5px 10px;
  border-radius: 7px;
}

.accent-button {
  display: block;
  color: $gray-200;
  background-color: $gray-900;
  border: 2px solid #00cccc;
  border-radius: 7px;
  padding: 5px 15px;

  --bs-btn-hover-color: $gray-900;
  --bs-btn-hover-bg: #00cccc;
  --bs-btn-hover-border-color: #00cccc78;
  --bs-btn-focus-shadow-rgb: 0, 204, 204;
  --bs-btn-active-border-color: #00cccc;
  --bs-btn-active-bg: $gray-900;

  &:hover {
    background-color: #00cccc;
    color: #000000;
  }
}

.navbar-toggler {
  background-color: #00cccc;
}

.form-floating {
  color: $gray-900;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../src/assets/hero-image-bg.jpg') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  opacity: 30%;
  z-index: -999;
}

.calendar {
  max-width: 25rem;

  .table {
    color: #fff;
  }

  .month-before {
    color: $gray-700;

    &:hover {
      color: $gray-900;
    }
  }

  .month-after {
    color: $gray-700;

    &:hover {
      color: $gray-900;
    }
  }

  td {
    &.active-cell {
      color: $gray-900;
      background-color: $cyan;
    }

    &.today-cell {
      color: $gray-900;
      background-color: $success;
    }

    &:hover {
      color: $gray-900;
      background-color: $cyan;
    }
  }
  .training-day {
    border: 3px rgb(52, 54, 94) solid;
  }
}

.modal-content {
  color: $gray-100;
  background-color: #3a4949;

  .form-control::placeholder {
    color: $gray-900;
  }
}

.add-sets {
  .card {
    color: $gray-100;
    background-color: $gray-800;
    max-width: 32rem;
    margin: 0 auto;
  }
}

.add-workout-day {
  .card-exercise {
    color: $gray-100;
    background-color: $gray-800;

    .card-exercise-title {
      cursor: pointer;

      &:hover {
        color: #00cccc;
      }
    }
  }
}

.alert-gray {
  background-color: $gray-800;
}

.alert-accent {
  background-color: #00cccc24;
}

.btn-outline-back {
  --bs-btn-bg: #7cbce1;
  --bs-btn-border-color: #7cbce1;
  --bs-btn-hover-bg: #6da4c3;
  --bs-btn-hover-border-color: #5593b6;
  --bs-btn-focus-shadow-rgb: 54, 106, 136;
  --bs-btn-active-bg: #5593b6;
  --bs-btn-active-border-color: #317195;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-bg: #7cbce1;
  --bs-btn-disabled-border-color: #7cbce1;
}
