// @import '~bootstrap/scss/functions';
// @import '../node_modules/bootstrap/scss/variables';

@import '~bootstrap/scss/bootstrap';

// #root {
//   height: 100vh;
// }

.calendar {
  width: 25rem;

  .month-before {
    &:hover {
      color: $gray-900;
    }
    color: $gray-500;
  }

  .month-after {
    color: $gray-500;
    &:hover {
      color: $gray-900;
    }
  }

  td {
    &.active {
      background-color: $cyan;
    }
    &:hover {
      background-color: $cyan;
    }
  }
}
